<footer class="l-footer js-footer"></footer>
</div><!-- l-page -->
<script src="<%= path(); %>assets/js/main.js"></script>
<script src="<%= path(); %>assets/js/jquery-3.6.0.min.js"></script>
<script src="<%= path(); %>assets/js/vendor.js"></script>

</body>

</html>